:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --ff-serif: "Bellefair", serif;
  --ff-sans: "Barlow", sans-serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --fs-900: 5rem;
  --fs-800: 3.5rem;
  --fs-750: 1.75rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.875rem;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 600;
  --lh-1: 1.5625rem;
  --lh-2: 125%;
  --ls-100: 0.07813rem;
  --ls-200: 0.14763rem;
  --ls-300: 0.14763rem;
  --ls-400: 0.16875rem;
  --ls-500: 0.16875rem;
}

@media (min-width: 35em) {
  :root {
    --fs-900: 9.375rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    --fs-200: 1rem;
    --lh-1: 1.75rem;
    --lh-2: 100%;
    --ls-100: 0.125rem;
    --ls-500: 0.14763rem;
    --ls-200: 0.16875rem;
    --ls-400: 0.21094rem;
  }
}
@media (min-width: 64em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --lh-1: 2rem;
    --ls-500: 0.16875rem;
    --ls-400: 0.29531rem;
  }
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-light));
  background-color: hsl(var(--clr-dark));
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button.menu {
  cursor: pointer;
  border: none;
  background: url(/assets/shared/icon-hamburger.svg) no-repeat center;
  width: 1.5rem;
  height: 1.3125rem;
  z-index: 1001;
  transition: background 0.2s;
}
button.menu.active {
  background: url(/assets/shared/icon-close.svg) no-repeat center;
}

button.explore {
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
}
button.explore::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(var(--clr-white)/0.1);
  transition: width 0.5s, height 0.5s;
}
button.explore:hover::before {
  width: 160%;
  height: 160%;
}

button.dot {
  cursor: pointer;
  height: 0.625rem;
  width: 0.625rem;
  border: none;
  border-radius: 999px;
  background-color: hsl(var(--clr-white)/0.15);
}
button.dot:hover {
  background-color: hsl(var(--clr-white)/0.45);
}
button.dot.active {
  background-color: hsl(var(--clr-white));
}

button.num {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid hsl(var(--clr-white)/0.25);
  border-radius: 999px;
  background: none;
  color: white;
  transition: border-color 0.3s;
}
button.num:hover {
  border-color: white;
}
button.num.active {
  background-color: white;
  color: black;
}

@media (min-width: 35em) {
  button.explore {
    width: 15.125rem;
    height: 15.125rem;
  }
  button.num {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (min-width: 64em) {
  button.explore {
    width: 17.125rem;
    height: 17.125rem;
  }
  button.dot {
    width: 0.9375rem;
    height: 0.9375rem;
  }
  button.num {
    width: 5rem;
    height: 5rem;
  }
}
.numbered span {
  margin-right: clamp(1.125rem, 3vw, 1.75rem);
  color: hsl(var(--clr-white)/0.25);
}

.interactive {
  display: none;
  opacity: 0;
}
.interactive.active {
  display: block;
  transition: opacity 1s ease-out;
}

.interactive-image {
  display: none;
  opacity: 0;
}
.interactive-image.active {
  display: block;
  transition: opacity 1s;
}

header {
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 2.5rem;
  height: 2.5rem;
}
header nav {
  transform: translateX(100%);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  position: fixed;
  inset: 0 0 0 35%;
  z-index: 1000;
  transition: transform 0.3s;
}
header nav ul {
  padding-left: 2rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
header nav ul span {
  margin-right: 0.5rem;
}
header nav.active {
  transform: translateX(0%);
}

@media (min-width: 35em) {
  header {
    padding: 0 0 0 2rem;
  }
  header .logo {
    width: 3rem;
    height: 3rem;
  }
  header nav {
    position: relative;
    inset: 0;
    transition: transform 0s;
    transform: translateX(0);
  }
  header nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: clamp(28rem, 55vw, 70rem);
    height: 6rem;
  }
  header nav ul span {
    display: none;
  }
  header nav ul li {
    height: 100%;
  }
  header nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
  }
  header .menu {
    display: none;
  }
}
@media (min-width: 64em) {
  header {
    padding: 1.5rem 0 0 2.5rem;
  }
  header::after {
    content: "";
    display: block;
    position: relative;
    width: 40%;
    height: 1px;
    transform: translateX(2rem);
    order: 2;
    z-index: 2000;
    background-color: hsl(var(--clr-white)/0.25);
  }
  header nav {
    order: 3;
  }
  header nav ul {
    gap: clamp(1rem, 2.5vw, 4rem);
  }
  header nav ul span {
    display: inline;
  }
}
.home {
  background: url("/assets/home/background-home-mobile.jpg") center/cover no-repeat;
}
.home .main {
  display: grid;
  grid-template-areas: "main__text" "main__button";
  justify-items: center;
  gap: 5rem;
  margin-top: 0.5rem;
  padding: 1rem;
}
.home .main__text {
  grid-area: main__text;
  text-align: center;
  max-width: 20rem;
  opacity: 0;
  transform: translateX(-10rem);
  transition: transform 0.5s, opacity 0.5s;
}
.home .main__text span {
  display: block;
}
.home .main__button {
  grid-area: main__button;
  opacity: 0;
  transform: translateX(10rem);
  transition: transform 0.5s, opacity 0.5s;
}

@media (min-width: 35em) {
  .home {
    background: url("/assets/home/background-home-tablet.jpg") center/cover no-repeat;
  }
  .home .main {
    gap: 10rem;
    margin-top: 1.5rem;
    padding-block: 4.5rem;
    padding-inline: 2rem;
  }
  .home .main__text {
    max-width: 27.75rem;
  }
}
@media (min-width: 64em) {
  .home {
    background: url("/assets/home/background-home-desktop.jpg") center/cover no-repeat;
  }
  .home .main {
    grid-template-areas: "main__text main__button";
    align-items: end;
    gap: 10rem;
    margin-top: clamp(8rem, 26vh, 16rem);
    padding: 3rem;
  }
  .home .main__text {
    text-align: start;
  }
  .home .main__text span {
    margin-block: 1.5rem;
  }
}
.destination {
  background: url("/assets/destination/background-destination-mobile.jpg") center/cover no-repeat;
}
.destination .main {
  display: grid;
  grid-template-areas: "main__header" "main__image" "main__text";
  justify-items: center;
  gap: 1.2rem;
  padding: 1rem;
}
.destination .main__header {
  grid-area: main__header;
  margin-bottom: 1rem;
}
.destination .main__image {
  grid-area: main__image;
}
.destination .main__image img {
  width: 10.625rem;
  height: 10.625rem;
}
.destination .main__text {
  grid-area: main__text;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  max-width: 20rem;
}
.destination .main__text-nav ul {
  display: flex;
  justify-content: center;
  gap: clamp(1.62rem, 6vw, 2.25rem);
}
.destination .main__text-nav ul li {
  cursor: pointer;
  line-height: 225%;
}
.destination .main__text-desc {
  min-height: 190px;
}
.destination .main__text hr {
  width: 105%;
  height: 1px;
  background: hsl(var(--clr-white)/0.25);
  border: none;
}
.destination .main__text-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
}
.destination .main__text-details div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 35em) {
  .destination {
    background: url("/assets/destination/background-destination-tablet.jpg") center/cover no-repeat;
  }
  .destination .main {
    gap: 2.5rem;
    padding: 2rem;
  }
  .destination .main__header {
    justify-self: start;
  }
  .destination .main__image img {
    width: 18.75rem;
    height: 18.75rem;
  }
  .destination .main__text {
    max-width: 35rem;
  }
  .destination .main__text-desc {
    min-height: 0px;
  }
  .destination .main__text-details {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .destination .main__text-details div {
    min-width: 156px;
  }
}
@media (min-width: 64em) {
  .destination {
    background: url("/assets/destination/background-destination-desktop.jpg") center/cover no-repeat;
  }
  .destination .main {
    grid-template-areas: "main__header empty" "main__image main__text";
    grid-template-columns: 1fr 1fr;
    padding-block: 4rem;
    padding-inline: 2rem;
    margin-top: 2rem;
    gap: 0;
    column-gap: 5rem;
  }
  .destination .main__header {
    max-width: 39rem;
    width: 100%;
    justify-self: end;
  }
  .destination .main__image {
    margin-top: 5rem;
    width: max-content;
    justify-self: end;
  }
  .destination .main__image img {
    width: 28rem;
    height: 28rem;
  }
  .destination .main__text {
    margin-top: 5rem;
    justify-self: start;
    text-align: start;
    align-items: start;
    max-width: 27.75rem;
  }
  .destination .main__text-details {
    justify-content: start;
    gap: 3rem;
  }
}
@media (min-width: 1240px) {
  .destination .main {
    padding-inline: 8rem;
  }
}
.crew {
  background: url("/assets/crew/background-crew-mobile.jpg") center/cover no-repeat;
}
.crew .main {
  display: grid;
  grid-template-areas: "main__header" "main__image" "main__text";
  justify-items: center;
  gap: 1.2rem;
  padding: 1rem;
}
.crew .main__header {
  grid-area: main__header;
  margin-bottom: 1rem;
}
.crew .main__image {
  grid-area: main__image;
  width: 100%;
  max-width: 20rem;
}
.crew .main__image img {
  margin: auto;
  height: 15rem;
}
.crew .main__image hr {
  height: 1px;
  background: hsl(var(--clr-white)/0.25);
  border: none;
}
.crew .main__text {
  grid-area: main__text;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  max-width: 20rem;
}
.crew .main__text-nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.crew .main__text-nav ul li {
  cursor: pointer;
}
.crew .main__text-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.crew .main__text-desc h2 {
  color: hsl(var(--clr-white)/0.5);
  margin-bottom: -0.5rem;
}

@media (min-width: 35em) {
  .crew {
    background: url("/assets/crew/background-crew-tablet.jpg") center/cover no-repeat;
  }
  .crew .main {
    grid-template-areas: "main__header" "main__text" "main__image";
    gap: 2.5rem;
    padding: 2rem;
    padding-bottom: 0;
  }
  .crew .main__header {
    justify-self: start;
  }
  .crew .main__text {
    gap: 2.5rem;
    max-width: 37rem;
  }
  .crew .main__text-nav {
    order: 3;
  }
  .crew .main__image {
    margin-top: 0.5rem;
    max-width: 37rem;
  }
  .crew .main__image img {
    height: 33.25rem;
  }
  .crew .main__image hr {
    display: none;
  }
}
@media (min-width: 64em) {
  .crew {
    background: url("/assets/crew/background-crew-desktop.jpg") center/cover no-repeat;
  }
  .crew .main {
    grid-template-areas: "main__header main__image" "main__text main__image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr;
    padding-top: 4rem;
    padding-inline: 2rem;
    margin-top: 2rem;
    column-gap: 5rem;
  }
  .crew .main__header {
    margin-bottom: 0;
    justify-self: end;
    width: 100%;
    max-width: 39rem;
  }
  .crew .main__text {
    text-align: start;
    gap: 5rem;
    justify-self: end;
    width: 100%;
    max-width: 39rem;
    margin-top: 5rem;
  }
  .crew .main__text-desc {
    padding-bottom: 0;
  }
  .crew .main__text-desc .desc {
    max-width: 27.75rem;
    min-height: 10rem;
  }
  .crew .main__text-nav ul {
    justify-content: start;
  }
  .crew .main__image {
    margin-top: auto;
    justify-self: start;
  }
}
@media (min-width: 1240px) {
  .crew .main {
    padding-inline: 8rem;
  }
}
.technology {
  background: url("/assets/technology/background-technology-mobile.jpg") center/cover no-repeat;
}
.technology .main {
  display: grid;
  grid-template-areas: "main__header" "main__image" "main__text";
  justify-items: center;
  gap: 2rem;
  padding-block: 1rem;
}
.technology .main__header {
  grid-area: main__header;
}
.technology .main__image {
  width: 100%;
}
.technology .main__image img {
  width: 100%;
}
.technology .main__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.technology .main__text-nav ul {
  display: flex;
  gap: 1rem;
}
.technology .main__text-desc {
  text-align: center;
  max-width: 20.4375rem;
}
.technology .main__text-desc h2 {
  margin-bottom: 0.5rem;
}
.technology .main__text-desc p {
  margin-bottom: 1rem;
}

@media (min-width: 35em) {
  .technology {
    background: url("/assets/technology/background-technology-tablet.jpg") center/cover no-repeat;
  }
  .technology .main {
    gap: 2.75rem;
    padding-block: 2rem;
  }
  .technology .main__header {
    justify-self: start;
    padding-left: 2rem;
  }
  .technology .main__text {
    gap: 2.75rem;
  }
  .technology .main__text-desc {
    max-width: 28.625rem;
  }
  .technology .main__text-desc h2 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 64em) {
  .technology {
    background: url("/assets/technology/background-technology-desktop.jpg") center/cover no-repeat;
  }
  .technology .main {
    grid-template-areas: "main__header empty" "main__text main__image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr;
    row-gap: 8.5rem;
    padding-top: 4rem;
    padding-left: 2rem;
    margin-top: 2rem;
  }
  .technology .main__header {
    justify-self: end;
    width: 100%;
    max-width: 44.1rem;
    padding-left: 0;
  }
  .technology .main__image picture {
    max-width: 32.1875rem;
    max-height: 32.9375rem;
    margin-left: auto;
    margin-top: 4.5rem;
  }
  .technology .main__text {
    flex-direction: row;
    margin-left: auto;
    min-width: 594px;
  }
  .technology .main__text-nav ul {
    flex-direction: column;
    gap: 2rem;
  }
  .technology .main__text-desc {
    max-width: 30rem;
    min-height: 324px;
  }
  .technology .main__text-desc .desc {
    max-width: 27.75rem;
  }
}
@media (min-width: 1240px) {
  .technology .main {
    padding-left: 8rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.clr-dark {
  color: hsl(var(--clr-dark));
}

.clr-light {
  color: hsl(var(--clr-light));
}

.clr-white {
  color: hsl(var(--clr-white));
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-details {
  font-size: var(--fs-750);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fw-thin {
  font-weight: var(--fw-thin);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.ls-100 {
  letter-spacing: var(--ls-100);
}

.ls-200 {
  letter-spacing: var(--ls-200);
}

.ls-300 {
  letter-spacing: var(--ls-300);
}

.ls-400 {
  letter-spacing: var(--ls-400);
}

.ls-500 {
  letter-spacing: var(--ls-500);
}

.lh-1 {
  line-height: var(--lh-1);
}

.lh-2 {
  line-height: var(--lh-2);
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  top: 97%;
  right: 50%;
  transform: translateX(50%);
  height: 3px;
  background: hsl(var(--clr-white)/0.5);
  width: 0%;
  transition: width 0.3s;
}
.underline:hover::after {
  width: 100%;
}
.underline.active {
  color: hsl(var(--clr-white));
}
.underline.active::after {
  width: 100%;
  background: hsl(var(--clr-white));
}