// Background colors
.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

// Text colors
.clr-dark { color: hsl( var(--clr-dark) );}
.clr-light { color: hsl( var(--clr-light) );}
.clr-white { color: hsl( var(--clr-white) );}