.interactive {
  display: none;
  opacity: 0;
  &.active {
    display: block;
    transition: opacity 1s ease-out;
  }
}

.interactive-image {
  display: none;
  opacity: 0;
  &.active {
    display: block;
    transition: opacity 1s;
  }
}


