@use '../abstracts/mixins' as *;

.home {
  background: url('/assets/home/background-home-mobile.jpg') center/cover no-repeat;
  .main {
    display: grid;
    grid-template-areas:
      "main__text"
      "main__button";
    justify-items: center;
    gap: 5rem;

    margin-top: 0.5rem;
    padding: 1rem;


    &__text {
      grid-area: main__text;
      
      text-align: center;
      max-width: 20rem;

      opacity: 0;
      transform: translateX(-10rem);

      transition: transform 0.5s, opacity 0.5s;

      span {
        display: block;
      }
    }

    &__button {
      grid-area: main__button;

      opacity: 0;
      transform: translateX(10rem);

      transition: transform 0.5s, opacity 0.5s;
    }
  }
}


@include media(medium) {
  .home {
    background: url('/assets/home/background-home-tablet.jpg') center/cover no-repeat;
    .main {
      gap: 10rem;

      margin-top: 1.5rem;
      padding-block: 4.5rem;
      padding-inline: 2rem;
  
      &__text {
        max-width: 27.75rem;
      }
    }
  }
}


@include media(large) {
  .home {
    background: url('/assets/home/background-home-desktop.jpg') center/cover no-repeat;
    .main {
      grid-template-areas: 
        'main__text main__button';
      align-items: end;

      gap: 10rem;

      margin-top: clamp(8rem, 26vh, 16rem);
      padding: 3rem;

      &__text {
        text-align: start;

        span {
          margin-block: 1.5rem;
        }
      }
    }
  }
}

